fastapi
uvicorn
pydantic[email]
python-dotenv
python-multipart
python-jose[cryptography]
bcrypt
slowapi
joblib
numpy
pandas
torch
transformers
huggingface-hub
sentencepiece
xgboost
category_encoders
scikit-learn==1.6.1
